/** @format */

.views-view-kanban .img-avatar {
  width: 3rem;
  height: 3rem;
}

.views-view-kanban .text-avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin: 0 -10px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-body img {
  max-width: 100%;
  height: auto;
  padding: 0.25rem;
  border: 1px solid var(--bs-border-color);
  border-radius: 0.375rem;
  background-color: #fff;
}
